<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sunsilk Click The Car</title>
<link href="css/sunsilk.css" type="text/css" rel="stylesheet" />
<link href="css/stylesheet.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</head>

<body>
    
    <div id="wrapper">
        <div class="container">
            <div class="content_area">
                <div id="header">
                    <a id="logo" href="#"><h1>Sunsilk Click The Car</h1></a>
                    <div class="profileTab">
                    	<div class="profileTabImg">
                        	<img src="images/photodummy.png" width="78" />
                        </div>
                        <div class="profileTabRight">
                        	<div class="profileTabRightTop">
                            	<a href="#" class="signOut">Sign Out</a>
                            </div>
                            <div class="profileTabRightBot">
                            	<h2>Hello, Yuri!</h2>
                                <p>0 Point(s)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content">
                	<div class="gameStoryBox">
                    	<div class="gameStory">
                        	<h2 class="gameStoryTitle">Write Your Smart Yellow Story!</h2>
                            <div class="gameStoryLeft">
                            </div>
                            <div class="gameStoryRight">
                            	<div class="gameStoryRightTop">
                                	<p>Menurut kamu, mengapa Raisa memilih baju warna putih dan berambut panjang untuk diajak jalan-jalan?</p>
                                </div>
                                <div class="gameStoryRightBot">
                                	<textarea rows="10"></textarea>
                                    <input type="submit" class="storysubmit" value=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_container">
                <div id="footer">
                    <div class="footer_left">
                        <a href="#">HairFashion.me</a> | <a href="#">Sunsilk.co.id</a> | <a href="#" class="white">Terms&amp;Conditions</a> | Copyright &copy; 2012. All Rights Reserved
                    </div>
                    <div class="footer_right">
                        <a class="follow" href="#">Follow Us on Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
